<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class=" panel panel-default">
			<div class="panel-heading">
				<b>PS4 500GB</b>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-init="showImageA=true">
    <div class="col-sm-4 col-sm-offset-2">
        <img ng-show="showImageA" src="./img/ps4A.png" alt="auction photo" class="img-responsive"></img>
		<img ng-show="!showImageA" src="./img/ps4B.png" alt="auction photo" class="img-responsive"></img>
		<div class="col-sm-3 col-sm-offset-3">
			<img src="./img/ps4A.png" class="img-responsive bid-list" alt="auction img" style="cursor: pointer;" ng-click="showImageA=true"></img>
		</div>
		<div class="col-sm-3">
			<img src="./img/ps4B.png" class="img-responsive bid-list" alt="auction img" style="cursor: pointer;" ng-click="showImageA=false"></img>
		</div>
	</div>
    <div class="col-sm-3 col-sm-offset-1">
        <legend class="text-left">Recent bids:</legend>
        <ul class="bid-list">
            <li>12:45 User 1: 30$</li>
            <li style="background: rgb(163, 159, 153)">12:45 User 1: 30$</li>
            <li>12:45 User 1: 30$</li>
            <li style="background: rgb(163, 159, 153)">12:45 User 1: 30$</li>
            <li>12:45 User 1: 30$</li>
        </ul>
        <br>
        <div class="input-group col-sm-7">
            <input type="text" class="form-control" placeholder="$">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Bid</button>
            </span>
        </div>
    </div>
</div>
<br>
<div class="row text-left">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Item information</h3>
        <ul class="nav nav-tabs" ng-init="currentTab='desc'">
            <li class="active"><a data-toggle="tab" ng-click = "currentTab='desc'" href="">Description</a></li>
            <li><a data-toggle="tab" ng-click = "currentTab='location'" href="">Location</a></li>
        </ul>

        <div class="tab-content">
            <div ng-show="currentTab==='desc'" class="tab-pane fade in active">
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div ng-show="currentTab==='location'" class="tab-pane fade in active">
                <br>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>