<div class="row" ng-hide="registerComplete">
    <div class="col-sm-8 col-sm-offset-2 text-left">
        <legend>Create a new auction</legend>
    </div>
</div>
<form role="form" ng-submit="submitAuction()">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" ng-model="auction.name">
            </div>
            <div class="form-group">
                <label for="buyPrice">Buy Price:</label>
				<input type="text" class="form-control" ng-model="auction.buy_price" placeholder="$">
            </div>
            <div class="form-group">
                <label for="firstBid">First Bid:</label>
                <input type="text" class="form-control" ng-model="auction.first_bid" placeholder="$">
            </div>
            <div>
				<label for="date">End Date:</label><br>
				<div class="form-group col-sm-4">
					<select class="form-control" ng-model="tempDate.selectEYear" ng-options="n for n in [] | range:2016:2019"><option value="" disabled selected>Year</option></select>
				</div>
				<div class="form-group col-sm-4">
					<select class="form-control" ng-model="tempDate.selectEMonth" ng-options="x.month for x in months" ng-value="x.number"><option value="" disabled selected>Mon</option></select>
				</div>
				<div class="form-group col-sm-4">
					<select class="form-control" ng-model="tempDate.selectEDay" ng-options="n for n in [] | range:1:32"><option value="" disabled selected>Day</option></select>
				</div>
				<br>
				<div class="form-group col-sm-4">
					<select class="form-control" ng-model="tempDate.selectEHour" ng-options="n for n in [] | range:0:24"><option value="" disabled selected>Hour</option></select>
				</div>
				<div class="form-group col-sm-4">
					<select class="form-control" ng-model="tempDate.selectEMinute" ng-options="n for n in [] | range:0:60"><option value="" disabled selected>Min</option></select>
				</div>
				<div class="form-group col-sm-4">
					<select class="form-control" ng-model="tempDate.selectESecond" ng-options="n for n in [] | range:0:60"><option value="" disabled selected>Sec</option></select>
				</div>
				<br><br>
            </div>
        </div>
        <div class="col-sm-4">
			<div class="form-group text-center">
                <label for="upload">Upload an image:</label>
                <input type="file" name="pic" accept="image/*">
            </div>
            <div class="form-group">
                <label for="email">Description:</label>
				<textarea type="text" class="form-control" rows="4" ng-model="auction.description"></textarea>
            </div>
        </div>
    </div>
	<br>
    <div class="row text-left">
        <div class="col-sm-8 col-sm-offset-2">
            <label for="email">Select Categories:</label>
            <span ng-repeat="c in categoryPathList">
                /&nbsp;<a style="color:rgb(251, 130, 13)" href="" ng-click="findSubCat(c.name, c.id)">{{c.name}}</a>&nbsp;
            </span>
            <br>
            <br>
            <ul class="fa-ul" ng-repeat="x in categoryList">
                <li><i class="fa-li fa fa-plus" style="color:rgb(251, 130, 13)"></i><a style="color:black" href="" ng-click="findSubCat(x.name, x.id)">{{x.name}}</a></li>
            </ul>
        </div>
    </div>
    <br>
	<div class="row">
        <button type="submit" class="btn btn-primary">Submit auction</button>
    </div>
	<div class="text-danger" ng-show="basicFieldsError">Please fill all the fields of the form</div>
	<div class="text-danger" ng-show="NumberError">Please give numeric values to the first bid field and the buy price field.</div>
	<div class="text-danger" ng-show="DateError">The end date must be after start date!</div>
</form>