<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-left">
        <legend>Results</legend>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        
        <div class="row" style="border-style:solid; border-color: rgb(163, 159, 153); border-radius: 5px; margin-left: 10px; margin-right: 10px;">
            
            <div class="col-sm-12 text-left">
                <h5><b>Category:</b> / All / Sports / Memorabilia / Golf-Other</h5>
            </div>
            
            <div class="col-sm-3">
                <img src="./img/auction_images/imgA0.jpg" style="max-height: 100px;"></img>
            </div>
        
            <div class="col-sm-9">
                <div class="row">
                    <h5 style= "font-size: 150%"><a href="" style= "color: rgb(251, 130, 13)">Xbox One with 20 games</a></h5>
                </div>
                <div class="row">
                    <div class="col-sm-5 text-left">
                        <h5><b>Status:</b> <span style= "color: rgb(251, 130, 13)">active</span></h5>
                        <h5><b>Location:</b> Thessaloniki</h5>
                    </div>
                    <div class="col-sm-3 text-left">
                        <h5><b>Seller:</b> <span style= "color: rgb(251, 130, 13)">dimitris</span></h5>
                        <h5><b>Rating:</b> 1920</h5>
                    </div>
                    <div class="col-sm-4 text-left">
                        <h5 style= "font-size: 120%"><b>Current bid:</b> 200$</h5>
                        <h5 style= "font-size: 120%"><b>Buy price:</b> 200$</h5>
                    </div>
                </div>
            </div>
        
        </div>
    
    </div>
</div>


<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul class="pagination">
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
        </ul>
    </div>
</div>