<div id="mainPage" class="container-fluid text-center">
    <div class="row content" style="margin-top: 20px;">
    <!--
    <div class="col-sm-2 col-sm-offset-1 sidenav panel panel-default">
        <p>Registration on our website comes at no cost.</p>
        <p>Sign up now to get the full benefits of our services.</p>
        <p>If you dont create an account you can still view on-going auctions but you wont be able to bid on any of them neither create your own.</p>
    </div>
    -->

        <div class="col-sm-10 col-sm-offset-1 panel panel-default" style="min-height: 450px">
            <div class="element_margin" ui-view></div>
        </div>
    </div>
</div>