<nav class="navbar navbar-inverse">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="container-fluid">   
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <img class="navbar-brand" src="./img/navlogo.png" alt="navlogo">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a ui-sref-active="highlight" ui-sref="app.welcome"><i class="fa fa-home"></i> Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-hide="navPref.loggedIn">
            <li><a ui-sref-active="highlight" ui-sref="app.login"><i class="fa fa-sign-in"></i> Login</a></li>
            <li><a ui-sref-active="highlight" ui-sref="app.register"><i class="fa fa-user-plus"></i> Register</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="navPref.loggedIn">
            <li class="dropdown"><a data-toggle="dropdown">Welcome, {{navPref.username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="app.profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a ui-sref="app.message.inbox"><i class="fa fa-envelope"></i> Private Messages</a></li>
                   <li><a ui-sref="app.logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </li>       
          </ul>
        </div>
      </div>
    </div>
</nav>