<div class="col-sm-8 col-sm-offset-2">
	<div class="row">
		<div class=" panel panel-default">
			<div class="panel-heading">
				<b>User: {{user.username}} - Profile Information</b>
			</div>
		</div>
	</div>
</div>
<div class="panel-body">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
			<div class="list-group" style="text-align:left">
				<div class="list-group-item"><b>Name: </b>{{user.name}}</div>
				<div class="list-group-item"><b>Surname: </b>{{user.surname}}</div>
				<div class="list-group-item"><b>Email: </b>{{user.email}}</div>
				<div class="list-group-item"><b>Address: </b>{{user.address}}</div>
				<div class="list-group-item"><b>Country: </b>{{user.country}}</div>
				<div class="list-group-item"><b>Phone Number: </b>{{user.telephone}}</div>
			</div>
		</div>
		<div class="col-sm-2 col-sm-offset-1">
			<img id="profile_photo" src="./img/profilephoto.png" alt="profile photo"></img>
			<button class="btn btn-primary" style="margin-top:10px" ng-show="session.id == user_id">Change Avatar</button>
		</div>
	</div>
</div>
<div class="row">
	<button class="btn btn-primary" ui-sref="app.editprofile" ng-show="session.id == user_id">Edit User Profile</button>
	<button class="btn btn-primary" ng-show="session.id == user_id">Change Password</button>
	<button class="btn btn-primary" ng-hide="session.id == user_id" ng-click="sendMsg()">Send Message</button>
</div>


